body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F5F5F5;

    .rammetto-one-regular {
        font-family: "Rammetto One", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: black;
    }

}

.navbar {
    background-color: #F2EFBD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.logo {
    height: 40px;
}

.logotext {
    position: absolute;
    left: 80px;
    top: -10px;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color: #000000;
    text-decoration: none;
    font-family: "Mukta Vaani", sans-serif;
    font-size: 20px;
    position: relative;
}

.links a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #71AB3E;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.links a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

/* Responsividade */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .links {
        flex-direction: column;
        gap: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #F2EFBD;
        padding: 20px;
        display: none;
        /* esconde por padrão */
    }

    .links.active {
        display: flex;
    }
}

.container_cards {
    margin: 80px 50px 3px 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.cardpags {
    border: 2px solid #D4D955;
    background-color: #D4D955;
    text-align: center;
    padding: 10px;
    border-radius: 14px;
    width: 300px;
    height: 34px;
}

.cardpags a {
    text-decoration: none;
    color: #000000;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.container_slider {
    position: relative;
    max-width: 100%;
}

/* Wrapper para os slides */
.slider_wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-right: 250px;
    margin-top: 50px;
}

/* Estilo geral dos slides */
.slide {
    flex: 0 0 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

/* Slide ativo */
.slide.active {
    display: flex;
}

/* Slider 1 */
.slider_1 {
    background-color: #F26B5E;
}

.slider_1 h5 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-family: "Mukta Vaani";
    font-weight: 600;
}

.slider_1 p {
    color: #fff;
    font-family: "Mukta Vaani";
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.slider_1 img {
    margin-top: 77px;
    margin-right: -50px;
}

/* Slider 2 */
.slider_2 {
    background-color: #365914;
}

.slider_2 h5 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-family: "Mukta Vaani";
    font-weight: 600;
}

.slider_2 p {
    color: #fff;
    font-family: "Mukta Vaani";
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.slider_2 img {
    margin-top: 90px;
}

/* Slider 3 */
.slider_3 {
    background-color: #71AB3E;
}

.slider_3 h5 {
    font-size: 50px;
    color: #fff;
    margin: 0;
    font-family: "Mukta Vaani";
    font-weight: 600;
}

.slider_3 p {
    color: #fff;
    font-family: "Mukta Vaani";
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}

.slider_3 img {
    margin-top: 109px;
    margin-right: -50px;
}

/* Indicadores */
.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.indicator.active {
    background-color: #fff;
}

.imgbanner3 {
    margin-top: 160px !important;
}

.divtexto {
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.divtexto h1 {
    margin-left: 150px;
    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.textoslider1 {
    left: 100px;
    position: relative;
    color: white;
}

.textoslider2 {
    width: 400px;
    top: -8px;
    right: -100px;
    position: relative;
    color: white;
}

.textoslider3 {
    width: 400px;
    top: -8px;
    right: -100px;
    position: relative;
    color: white;
}

.textcategorias {
    margin-top: 60px;
    margin-left: 30px;
}

.divcategorias {
    display: flex;
    justify-content: center;
    gap: 220px;
    margin: 40px 0;
}

.divcategorias button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.n-1 {
    background-color: #2e501c;
}

.n-2 {
    background-color: #a3c83b;
}

.n-3 {
    background-color: #e7e496;
}

.n-4 {
    background-color: #fdeeca;
}

.n-5 {
    background-color: #ef6a66;
}

#content-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
}

.calda {
    margin-top: -100px;
    width: 100px;
    height: 300px;
    background-color: #fdf7e6;
    border-radius: 60px 60px 0 0;
    position: absolute;
    top: -30px;
    display: none;
    z-index: -1;
}

.quadrado {
    background-color: #2e501c;
    border-radius: 20px 20px 20px 20px;
    padding: 40px 20px;
    width: 800px;
    min-height: 180px;
    color: white;
    font-size: 18px;
    display: none;
}

/* Exemplo de estilos diferentes por categoria */
.c-01 {
    background-color: #2e501c;
}

.c-02 {
    background-color: #a3c83b;
}

.c-03 {
    background-color: #e7e496;
}

.c-04 {
    background-color: #fdeeca;
}

.c-05 {
    background-color: #ef6a66;
}

.calda1 {
    background-color: #2e501c;
    left: 13.78%;
}

.calda2 {
    background-color: #a3c83b;
    left: 30.6%;
}

.calda3 {
    background-color: #e7e496;
    left: 47.4%;
}

.calda4 {
    background-color: #fdeeca;
    left: 64.2%;
}

.calda5 {
    background-color: #ef6a66;
    left: 81.02%;
}